<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="stylesheet" href="__PUBLIC__/Common/layui-v1.0.7/layui/css/layui.css">
        <script type="text/javascript" src="__PUBLIC__/Common/layui-v1.0.7/layui/layui.js"></script>
        <title>个人信息绑定</title> 
    </head>
    <style type="text/css">
    .container{
    	margin: 10px 5px 0px -30px;
    }
     </style>
      <script type="text/javascript">
			layui.use(['form','upload','jquery'], function(){
			  var form = layui.form()
			  ,upload=layui.upload
			  ,$=layui.jquery;

			  form.on('submit(formDemo)', function(data){
			  	var data = $('form').serialize();			  
			    var url = $('form').attr('action');
			    $.ajax({
			        'url' : url,
			        'type' : 'post',
			        'dataType' : 'json',
			        'data' : data,   
			        success : function(data) {
			            if (data.errcode == 1) {
			                 layer.msg(JSON.stringify(data.errmsg));
			            } else {
			                layer.msg(JSON.stringify(data.errmsg));
			            }
			        },
			        error : function() {        	
			          layer.msg(JSON.stringify('提交数据失败!'));
			         // return false;
			          
			        },     
			    });
			    layer.msg(JSON.stringify(data.field));
			    return false;
			  });

			   upload({
			     url: "{:U('Mp/Material/layui_picupload')}"
			    ,elem: '#test' //指定原始元素，默认直接查找class="layui-upload-file"
			    ,method: 'get' //上传接口的http类型
			    ,dataType: 'json'
			    ,success: function(res){	 		    	
			      lay_demo_upload.src = res.url;
			    }

			  });

			   $('.imgselect').on('click',function(){
			   	  var imgurl=$(this).attr('src');
			      $('#headimgurl').val(imgurl);
			      $('#lay_demo_upload').attr('src',imgurl);
			   })

			 
			});
    </script>

<body>
	<div class="container">
	<form class="layui-form" action="{:U('MobileBase/fans_bind')}">

	  <div class="layui-form-item">
	  	 <label class="layui-form-label">头像</label>
	  	<div class="layui-input-inline">
	       <input type="file" name="file" class="layui-upload-file" id="test">
	       <img class="imgselect" src="http://ohy7djn2s.bkt.clouddn.com/1-15031PGF8-51.jpg" style="width:38px;height:38px;margin-right:10px;display:inline">
	       <img class="imgselect" src="http://ohy7djn2s.bkt.clouddn.com/u=3557058467,283518607&fm=23&gp=0.jpg"  style="width:38px;height:38px;margin-right:10px;display:inline">	   
	      <img class="imgselect" src="http://ohy7djn2s.bkt.clouddn.com/u=1130453322,594874643&fm=11&gp=0.jpg"  style="width:38px;height:38px;margin-right:10px;display:inline">	  
	     </div>	
	      <div class="layui-form-mid layui-word-aux">无法上传头像，请点击选择右边三个头像</div>     	   
	  </div>

	   <div class="layui-form-item">
	  	 <label class="layui-form-label">自选头像</label>
	  	  <div class="layui-input-block">
	  	  <input type="hidden" name="headimgurl" class="layui-input" id="headimgurl" id="headimgurl" value="{$fans_info['headimgurl']}">	          
	      <img id="lay_demo_upload" src="<if condition="$fans_info['headimgurl']">{$fans_info['headimgurl']}<else />__PUBLIC__/Admin/img/noname.jpg</if>"  style="width:38px;height:38px;margin-right:10px;display:inline">	  
	     </div>
	     	   
	  </div>


	  <div class="layui-form-item">
	    <label class="layui-form-label">昵称</label>
	    <div class="layui-input-block">
	      <input type="text" name="nickname" required  lay-verify="required" placeholder="请输入你的昵称" autocomplete="off" class="layui-input" value="{$fans_info.nickname}">
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">姓名</label>
	    <div class="layui-input-inline">
	      <input type="text" name="relname" required lay-verify="required" placeholder="请输入你的真实姓名" autocomplete="off" class="layui-input" value="{$fans_info.relname}">
	    </div>
	    <div class="layui-form-mid layui-word-aux">将用于借教室的身份验证</div>
	  </div>

	  <div class="layui-form-item">   
	    <label class="layui-form-label">班级</label>
	    <div class="layui-input-inline">
	      <select name="zhuanye">
	        <option value="">请选择专业</option>
	        <option value="流体">流体</option>
	        <option value="建环">建环</option>
	        <option value="流卓">流卓</option>
	        <option value="热能">热能</option>
	        <option value="节能">节能</option>
	        <option value="新能源">新能源</option>
	      </select>
	    </div>    
	    <div class="layui-input-inline">
	      <select name="classnumber">
	        <option value="">请选择班级</option>
	        <option value="1601">1601</option>
	        <option value="1602">1602</option>
	        <option value="1501">1501</option>
	        <option value="1502">1502</option>
	        <option value="1401">1401</option>
	        <option value="1402">1402</option>
	        <option value="1301">1301</option>
	        <option value="1302">1302</option>
	      </select>
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">兴趣爱好</label>
	    <div class="layui-input-block">
	      <input type="checkbox" name="like[write]" title="写作">
	      <input type="checkbox" name="like[read]" title="阅读" checked>
	      <input type="checkbox" name="like[dai]" title="发呆">
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">手机号</label>
	    <div class="layui-input-block">
	      <input type="number" name="mobile" placeholder="请输入你的手机号" required lay-verify="phone" class="layui-input"  value="{$fans_info.mobile}">
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">性别</label>
	    <div class="layui-input-block">
	      <input type="radio" name="sex" value="1" title="男" <if condition="$fans_info['sex'] eq 1">checked</if>>
	      <input type="radio" name="sex" value="2" title="女" <if condition="$fans_info['sex'] eq 2">checked</if>>
	    </div>
	  </div>

	  <div class="layui-form-item layui-form-text">
	    <label class="layui-form-label">个性签名</label>
	    <div class="layui-input-block">
	      <textarea name="signature" placeholder="请输入内容" class="layui-textarea" required  lay-verify="required" >{$fans_info.signature}</textarea>
	    </div>
	  </div>

	   <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn layui-btn-lg" lay-submit lay-filter="formDemo">立即提交</button>     
	    </div>
	   </div>
	</form>
	</div> 
</body>
</html>